*
{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 120px;
  color: #303030;
}

h2{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}

h6{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0CCEAD;
}

p{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #949494;
}

.left_black{
  position: absolute;
  display: block;
  width: 360px;
  height: 1024px;
  background: #1C1C1C;
}

.container1{
  top: 165px;
  position: relative;
  width: 1080px;
  height: 550px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container1 img{
  box-shadow: 40px 40px 80px -20px rgba(0, 0, 0, 0.25);
}

.right_col{
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.right_col h6{
  margin-top: 80px;
}

.right_col p{
  max-width: 560px;
  margin-top: 40px;
}

.btns{
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.btns button{
  cursor: pointer;
  margin-right: 45px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.Contact_me{
  padding: 20px 54px;
  color: #fff;
  background: #0CCEAD;
  border: none;
}

.My_work{
  padding: 20px 54px;
  color: #333;
  background: #F3F3F3;
  border: none;
}

.exp{
  position: absolute;
  width: 100%;
  height: 1125px;
  left: 0px;
  top: 1024px;
  background: #1C1C1C;
}

ul{
  position: absolute;
  top:-30px;
  right: 150px;
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

li{
  width: 60px;
  height: 60px;
  list-style-type: none;
  filter: drop-shadow(0px 15px 40px rgba(12, 206, 173, 0.30));
}

.container2{
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 150px;
}

.box_l{
  width: 500px;
}

.box_l h6{
  color: #C4C4C4;
  margin-bottom: 15px;
}

.box_l p{
  margin-top: 40px;
  letter-spacing: 1px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.box_r{
  width: 330px;
}

.first_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.box_r p{
  margin-top: 15px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}

.column{
  width: 110px;
}

.box_r h6{
  font-size: 16px;
  color: #fff;
}

.column h6{
  font-size: 14px;
  letter-spacing: 1px;
}

.other_rows{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line{
  top: 650px;
  width: 100%;
  height: 80px;
  display: block;
  position: absolute;
  background: linear-gradient(270deg, rgba(12, 206, 173, 1) 12.81%, rgba(28, 28, 28, 0.7) 56.56%);
}

.green{
  position: absolute;
  top: 730px;
  width: 100%;
  height: 315px;
  background: #0CCEAD;
}

.line2{
  top: 1045px;
  width: 100%;
  height: 80px;
  display: block;
  position: absolute;
  background: linear-gradient(270deg, #F8F8F8 11.77%, #0CCEAD 59.69%);
}

.about{
  position: absolute;
  top: 2149px;
  display: block;
  width: 100%;
  height: 500px;
  background-color: #F8F8F8;
}

.container3{
  height: 155px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 80px;
}

.edu{
  width: 20%;
}

.edu h6{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.edu p{
  margin-top: 30px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.container3 h2{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.about_right{
  margin-top: 40px;
  margin-right: 100px;
  width: 360px;
}

.column a{
  margin-top: 20px;
  font-family: Mulish;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
}

.about_right h6{
font-family: Mulish;
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
color: #333333;
}

.sec_raw{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@font-face {
    font-family: 'Mulish';
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('fonts/Mulish-Regular.woff2') format('woff2'),
        url('fonts/Mulish-Regular.woff') format('woff'),
        url('fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
        url('fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('fonts/Mulish-SemiBold.woff') format('woff'),
        url('fonts/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: local('Mulish Bold'), local('Mulish-Bold'),
        url('fonts/Mulish-Bold.woff2') format('woff2'),
        url('fonts/Mulish-Bold.woff') format('woff'),
        url('fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
